<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="3.0">
    <display-name>First App</display-name>
    <servlet>
        <servlet-name>CalculServlet</servlet-name>
        <servlet-class>com.horizon.lab_1.controller.CalculServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CalculServlet</servlet-name>
        <url-pattern>/calcul-servlet</url-pattern>
    </servlet-mapping>
</web-app>